@font-face {
  font-family: SolaimanLipi;
  src: url(../vendors/font/SolaimanLipi.ttf); }

body {
  margin: 0 !important;
  padding: 0 !important;
  font-family: 'SolaimanLipi' !important;
  background: url("../images/bg.jpg") center top fixed;
  -webkit-background-size: cover;
  background-size: cover; }

body::-webkit-scrollbar {
  width: 5px; }

body::-webkit-scrollbar-track {
  background: #000000;
  -webkit-box-shadow: inset 0 0 6px #000000; }

body::-webkit-scrollbar-thumb {
  background-color: #666666;
  outline: 1px solid #000000; }

.add-1s {
  -webkit-animation-duration: 0.5s;
  animation-duration: 0.5s;
  -webkit-animation-delay: 0.5s;
  animation-delay: 0.5s; }

.add-2s {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-delay: 1s;
  animation-delay: 1s; }

.add-3s {
  -webkit-animation-duration: 1.5s;
  animation-duration: 1.5s;
  -webkit-animation-delay: 1.5s;
  animation-delay: 1.5s; }

.add-4s {
  -webkit-animation-duration: 2s;
  animation-duration: 2s;
  -webkit-animation-delay: 2s;
  animation-delay: 2s; }

.add-5s {
  -webkit-animation-duration: 2.5s;
  animation-duration: 2.5s;
  -webkit-animation-delay: 2.5s;
  animation-delay: 2.5s; }

@-webkit-keyframes moveleft {
  0% {
    opacity: 0;
    -webkit-transform: translate(-100px);
    transform: translate(-100px); }
  80% {
    -webkit-transform: translate(20px);
    transform: translate(20px); }
  100% {
    opacity: 1;
    -webkit-transform: translate(0);
    transform: translate(0); } }

@keyframes moveleft {
  0% {
    opacity: 0;
    -webkit-transform: translate(-100px);
    transform: translate(-100px); }
  80% {
    -webkit-transform: translate(20px);
    transform: translate(20px); }
  100% {
    opacity: 1;
    -webkit-transform: translate(0);
    transform: translate(0); } }

.overly {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: 1;
  height: 100vh !important;
  background: rgba(0, 0, 0, 0.5);
  display: none; }

#myVideo {
  position: fixed;
  right: 0;
  bottom: 0;
  left: 0;
  opacity: 1;
  min-width: 100%;
  min-height: 100%;
  z-index: -1000000; }

@media (max-width: 767px) {
  .m-d-none {
    display: none !important; } }

.btn-reg {
  margin-top: 22px;
  text-transform: uppercase; }
  @media (max-width: 767px) {
    .btn-reg {
      margin-top: 0px !important; } }

.switch {
  right: 0 !important;
  -webkit-transition: all .5s ease;
  transition: all .5s ease; }

.switcher {
  position: fixed;
  right: 0;
  top: 150px;
  color: #fff;
  background: rgba(0, 0, 0, 0.75);
  padding: 15px;
  right: -150px;
  -webkit-transition: all .5s ease;
  transition: all .5s ease; }
  .switcher p {
    margin: 0px;
    padding: 0px;
    font-size: 13px; }
  .switcher .color-switcher .color {
    border: 1px solid #616161;
    height: 30px;
    width: 30px;
    display: block;
    margin: 4px; }
    .switcher .color-switcher .color:hover {
      border: 1px solid #ffffff; }
  .switcher .color-switcher .black {
    background: #000000; }
  .switcher .color-switcher .red {
    background: #bb0000; }
  .switcher .color-switcher .green {
    background: #00904b; }
  .switcher .switcher-icon {
    position: absolute;
    top: 0;
    left: -42px;
    background: rgba(0, 0, 0, 0.75);
    padding: 5px;
    width: 42px;
    height: 42px;
    text-align: center;
    font-size: 22px;
    cursor: pointer; }
    .switcher .switcher-icon:hover {
      background: #00904b; }
  .switcher .Language-switcher img {
    width: 58px;
    height: 34px;
    padding: 4px; }

.logo {
  text-align: center; }
  .logo img {
    width: 150px; }

.slider {
  height: 550px; }

.page-header {
  background: url("../images/bg-2.jpg") center top no-repeat fixed;
  -webkit-background-size: cover;
  background-size: cover; }
  .page-header h2.page-title {
    display: block;
    padding: 200px 0 50px 0;
    text-align: center;
    margin: 0;
    color: #ffffff; }

.page-body {
  text-align: center;
  color: #cccccc;
  padding: 100px 0; }
  .page-body img {
    margin-bottom: 15px;
    -webkit-border-radius: 10px 0;
    border-radius: 10px 0; }

.hq {
  text-align: center; }
  .hq img {
    width: 150px;
    display: block;
    margin: 5px auto; }
  .hq h4 {
    font-size: 22px; }

.wing {
  padding: 0;
  margin: 0; }
  .wing li {
    list-style: none;
    padding: 0;
    margin: 0; }
    .wing li a {
      display: block;
      padding: 10px;
      text-align: center;
      background: #00904b;
      color: #ffffff;
      margin-bottom: 15px; }
      .wing li a:hover {
        color: #00904b;
        background: #333333;
        text-decoration: none; }

.title-img {
  width: 70px; }

.reaward li {
  list-style: none; }

.reaward .box {
  height: 145px;
  margin-bottom: 15px;
  padding: 15px;
  -webkit-border-radius: 15px 0;
  border-radius: 15px 0;
  text-align: left;
  background: #333333; }
  .reaward .box img {
    float: left;
    width: 120px;
    margin-right: 15px; }
  .reaward .box .medel {
    float: right;
    width: 50px;
    margin-top: -133px; }
  .reaward .box h5 {
    padding-top: 5px; }

.page-body .achievement {
  background: transparent;
  margin: 0px;
  padding: 0px; }
  .page-body .achievement .nav-link {
    background: #00904b !important; }
    .page-body .achievement .nav-link:hover {
      background: #333333 !important; }

.table-notice tr {
  color: #cccccc;
  text-align: left; }

.news .news-item {
  background: #222222;
  padding: 15px;
  margin-bottom: 15px;
  text-align: left; }
  .news .news-item a {
    color: #cccccc; }
    .news .news-item a:hover {
      color: #ffffff; }
  .news .news-item img {
    width: 100%;
    margin: 0;
    padding: 0;
    -webkit-border-radius: 0px;
    border-radius: 0px; }

header nav {
  width: -webkit-calc(( 90px * 11 ) + 150px - 90px);
  width: calc(( 90px * 11 ) + 150px - 90px);
  margin: 0 auto; }
  header nav ul {
    margin: 0;
    padding: 0; }
    header nav ul li.logo {
      width: 150px; }
      header nav ul li.logo a {
        padding: 0 !important;
        margin: 0 !important;
        background: transparent; }
    header nav ul li {
      margin: 0;
      padding: 0;
      list-style: none;
      float: left;
      width: 90px; }
      header nav ul li:first-child a {
        -webkit-border-radius: 0px 0 0 40px;
        border-radius: 0px 0 0 40px;
        border-left: 5px solid #00904b; }
      header nav ul li:last-child a {
        -webkit-border-radius: 0 0 40px 0;
        border-radius: 0 0 40px 0;
        border-right: 5px solid #00904b; }
      header nav ul li:nth-child(5) a {
        -webkit-border-radius: 0 40px 0 0;
        border-radius: 0 40px 0 0;
        border-right: 5px solid #00904b; }
      header nav ul li:nth-child(7) a {
        -webkit-border-radius: 40px 0 0 0;
        border-radius: 40px 0 0 0;
        border-left: 5px solid #00904b; }
      header nav ul li a {
        padding: 15px 5px;
        text-align: center;
        display: block;
        background: #000000;
        margin-top: 50px;
        font-size: 16px;
        color: #cccccc; }
        header nav ul li a:hover {
          text-decoration: none;
          color: #ffffff; }

.container-top {
  background: rgba(0, 0, 0, 0.75);
  height: 150px;
  padding: 15px;
  color: #cccccc; }
  .container-top p {
    margin: 0px;
    padding-bottom: 5px; }
  .container-top img {
    float: left;
    margin-top: -60px;
    background: #000000;
    padding: 15px;
    width: 185px;
    margin-right: 25px;
    margin-bottom: 25px; }

.gallery-sec img {
  width: 100%; }

.main-body {
  background: #000000; }

.about-us {
  padding-top: 50px;
  padding-bottom: 100px;
  text-align: justify; }
  .about-us img {
    width: 200px;
    -webkit-shape-outside: circle(50% at 50% 50%);
    shape-outside: circle(50% at 50% 50%);
    -webkit-clip-path: circle(50% at 50% 50%);
    clip-path: circle(50% at 50% 50%);
    float: left;
    padding: 10px; }
  .about-us h2 {
    color: #cccccc; }
  .about-us p {
    color: #cccccc; }

.work {
  background: url("../images/sec-bg.jpg") no-repeat fixed bottom center;
  padding: 100px 0;
  color: #dddddd; }

.info {
  padding: 100px 0;
  color: #dddddd;
  background: url("../images/sec-bg2.jpg") no-repeat fixed bottom center; }

.battalion {
  padding: 100px 0;
  color: #dddddd;
  background: #000000; }
  .battalion ul {
    margin: 0px;
    padding: 0px; }
    .battalion ul li {
      margin: 0px;
      padding: 0px;
      list-style: none;
      float: left; }
      .battalion ul li a {
        margin: 10px;
        display: block;
        padding: 25px;
        background: #333333;
        color: #cccccc;
        width: 202px;
        text-align: center;
        border-left: 5px solid #00904b;
        -webkit-transition: all .5s ease;
        transition: all .5s ease; }
        .battalion ul li a:hover {
          background: #111111;
          text-decoration: none;
          color: #ffffff;
          border-left: 15px solid #ffff00; }
  .battalion img {
    width: 100%; }

footer {
  background: #222222;
  color: #eeeeee;
  padding: 100px 0; }
  footer h2 {
    font-size: 26px; }
  footer p {
    margin: 0px;
    padding: 5px 0; }
  footer a {
    font-size: 14px; }
  footer .f-news a {
    color: #cccccc;
    border-bottom: 1px solid #666666;
    padding-bottom: 10px;
    margin-bottom: 10px;
    display: block;
    font-size: 14px; }
    footer .f-news a:last-child {
      border-bottom: 0px solid #666666; }
  footer ul {
    margin: 0px;
    padding: 0px; }
    footer ul li {
      margin: 0px;
      padding: 0px;
      list-style: none;
      width: 50%;
      float: left; }
      footer ul li a {
        color: #cccccc;
        margin-bottom: 10px; }

.footer-bottom {
  background: #000000;
  color: #cccccc;
  padding: 10px 0;
  text-align: right; }
  .footer-bottom p {
    margin: 0px;
    font-size: 13px;
    padding: 0px; }
    .footer-bottom p a {
      color: #ffffff; }
      .footer-bottom p a:hover {
        text-decoration: none; }

.award {
  padding: 100px 0;
  color: #eeeeee;
  background: #000000;
  text-align: center; }
  .award img {
    -webkit-border-radius: 10px 0px;
    border-radius: 10px 0px;
    margin-bottom: 10px; }
  .award h5 {
    font-size: 15px;
    margin: 0px;
    padding: 5px 0; }
  .award p {
    margin: 0px;
    padding: 0px;
    font-size: 13px; }

.achievement {
  padding: 100px 0;
  color: #eeeeee;
  background: url("../images/bg-2.jpg") center fixed no-repeat;
  -webkit-background-size: cover;
  background-size: cover;
  text-align: center; }
  .achievement .nav-tabs .nav-link {
    width: 92px;
    height: 92px;
    padding: 28px 0;
    font-size: 22px;
    -webkit-border-radius: 50px;
    border-radius: 50px;
    background: rgba(0, 0, 0, 0.5);
    color: #ffffff; }
    .achievement .nav-tabs .nav-link:hover {
      background: #111111;
      color: #ffffff; }
  .achievement .nav-tabs {
    border: 0 !important; }
  .achievement .achievement-item {
    margin: 15px 0;
    text-align: left;
    padding: 15px;
    background: rgba(0, 0, 0, 0.5);
    -webkit-border-radius: 15px 0;
    border-radius: 15px 0; }
    .achievement .achievement-item img {
      width: 100%;
      -webkit-border-radius: 10px 0;
      border-radius: 10px 0; }
    .achievement .achievement-item p {
      margin: 0px;
      padding: 0px; }
  .achievement .tab-content {
    max-height: 400px;
    overflow: auto; }
    .achievement .tab-content::-webkit-scrollbar {
      width: 5px; }
    .achievement .tab-content::-webkit-scrollbar-track {
      background: #000000;
      -webkit-box-shadow: inset 0 0 6px #000000; }
    .achievement .tab-content::-webkit-scrollbar-thumb {
      background-color: #111111;
      outline: 1px solid #333333;
      -webkit-border-radius: 3px;
      border-radius: 3px; }

.awareness {
  padding: 100px 0;
  color: #dddddd;
  background: #000000; }
  .awareness img {
    width: 100%; }

.report {
  padding: 100px 0;
  color: #dddddd;
  background: url("../images/mobile-apps-background.jpg") center fixed no-repeat;
  -webkit-background-size: cover;
  background-size: cover; }
  .report .apps {
    text-align: center; }
    .report .apps img {
      width: 250px; }
  .report textarea, .report input {
    background: transparent; }

.contact .report {
  background: #000000 !important; }

.msg img {
  width: 100%;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  border: 1px solid #00904b;
  padding: 10px !important; }

.msg .nav-link {
  color: #ffffff;
  margin-bottom: 10px;
  border: 1px solid #00904b; }
  .msg .nav-link:hover {
    background: #00904b; }

.logo-slider {
  padding-top: 75px;
  padding-bottom: 50px;
  color: #ddd;
  background: #151515; }
  .logo-slider .logo-item {
    background: #ffffff;
    border: 3px solid #ffffff;
    -webkit-border-radius: 5px 0;
    border-radius: 5px 0;
    width: 120px;
    height: 120px;
    text-align: center;
    margin: 0 auto; }
    .logo-slider .logo-item img {
      height: 115px; }

.news-update {
  color: #cccccc; }
  .news-update .title {
    background: #333333;
    width: 130px;
    height: 26px;
    padding: 2px 15px;
    display: block;
    text-align: center; }
  .news-update a {
    color: #cccccc;
    padding-top: 10px;
    display: inline-block; }
    .news-update a:hover {
      color: #ffffff;
      text-decoration: none; }

.office-pic img {
  width: 100%; }

.rab-office-nav ul {
  margin: 0px;
  padding: 0px; }
  .rab-office-nav ul li {
    margin: 0px;
    padding: 0px;
    list-style: none; }
    .rab-office-nav ul li a {
      display: block;
      text-align: left;
      color: #cccccc;
      padding: 10px 15px;
      background: #333333;
      border-left: 3px solid #00904b;
      -webkit-border-radius: 25px 0;
      border-radius: 25px 0;
      margin-bottom: 15px;
      -webkit-transition: all .5s ease;
      transition: all .5s ease; }
      .rab-office-nav ul li a:hover {
        color: #ffffff;
        background: #00904b;
        border-left: 0px solid #00904b;
        border-right: 3px solid #ffff00;
        text-decoration: none;
        -webkit-transition: all .5s ease;
        transition: all .5s ease; }

.office-cover-area ul {
  margin: 0px;
  padding: 0px; }
  .office-cover-area ul li {
    margin: 5px;
    padding: 5px 10px;
    list-style: none;
    float: left;
    background: #333333;
    width: 265px; }

.office-sec {
  margin-bottom: 50px;
  display: block;
  text-align: left !important; }
  .office-sec p {
    text-align: justify; }

.office-cover-area {
  height: auto; }

.clear-both {
  clear: both;
  display: block; }

.title-hr {
  height: 3px;
  width: 150px;
  background: #00904b;
  border-right: 50px solid #ffff00;
  border-left: 50px solid #bb0000;
  clear: both;
  display: block;
  margin-bottom: 15px; }
