
@font-face {
	font-family: SolaimanLipi;
	src: url(../vendors/font/SolaimanLipi.ttf);
}


// $green: #00904b;
// $light-green: #4fa843;
// $light: #ffffff;
// $light-e: #eeeeee;
// $light-d: #dddddd;
// $dark: #111111;
// $dark-2: #222222;
// $gray-3: #333333;
// $gray-c:#cccccc; 
// $gray-9:#999999;
// $gray-6: #666666;
// $yollow: #ffff00;
// $red: #bb0000;
// $black: #000000;

// color
$green: #00904b;
$light-green: #4fa843;
$light: #ffffff;
$light-e: #eeeeee;
$light-d: #dddddd;
$dark: #111111;
$dark-2: #222222;
$gray-3: #333333;
$gray-c:#cccccc; 
$gray-9:#999999;
$gray-6: #666666;
$yollow: #ffff00;
$red: #bb0000;
$black: #000000;

// Responsive Brackpoint 
$phones: "(max-width: 575px)";
$min_phones: "(min-width: 576px)";
$max_phones: "(max-width: 767px)";
$min_tablets: "(min-width: 768px)";
$max_tablets: "(max-width: 991px)";
$min_desktops: "(min-width: 992px)";
$max_desktops: "(max-width: 1199px)";
$large_device: "(min-width: 1200px)";



body{
	margin: 0 !important;
	padding: 0 !important;
	font-family: 'SolaimanLipi' !important;
	background: url('../images/bg.jpg') center top fixed;
	background-size: cover;
}

body::-webkit-scrollbar {
    width: 5px;
}
body::-webkit-scrollbar-track {
	background: $black;
  -webkit-box-shadow: inset 0 0 6px $black;
}
 
body::-webkit-scrollbar-thumb {
  background-color: $gray-6;
  outline: 1px solid $black;
}

// animate.css mixin
	@mixin add($duration, $delay) {
		animation-duration: $duration;
		animation-delay: $delay;
	}

	@for $i from 1 through 5 {
		.add-#{$i}s { @include add($i/2 + 0s, $i/2 + 0s); }
	}
	// animation

	@keyframes moveleft{
		0% {
			opacity: 0;
			transform: translate(-100px);
		}
		80% {
			transform: translate(20px);
		}
		100% {
			opacity: 1;
			transform: translate(0);
		}
	}

// custome style

// .btn-info{
// 	background-color: $primary !important;
//     border-color: $secondary !important;
// }
// overly
.overly {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: 1;
    height: 100vh!important;
		background: rgba(0,0,0,.5);
		display: none;
}

//Videos
#myVideo {
    position: fixed;
    right: 0;
    bottom: 0;
    left: 0;
    opacity: 1;
    min-width: 100%;
    min-height: 100%;
    z-index: -1000000;
}
// Header 
@media #{$max_phones} {
	.m-d-none{
		display: none !important;
	}
}

.btn-reg{
	margin-top: 22px;
	text-transform: uppercase;
	@media #{$max_phones}{
		margin-top: 0px !important;
	}
}
.switch{
	right: 0 !important;
	transition: all .5s ease;
}
.switcher {
	position: fixed;
	right: 0;
	top: 150px;
	color: #fff;
	background: rgba(0, 0, 0, 0.75);
	padding: 15px;
	right: -150px;
	transition: all .5s ease;
	p{
		margin: 0px;
		padding: 0px;
		font-size: 13px;
	}
	.color-switcher{
		.color{
			border: 1px solid #616161;
			height: 30px;
			width: 30px;
			display: block;
			margin: 4px;
			&:hover{
				border: 1px solid $light;
			}
		}
		.black{
			background: $black;
		}
		.red{
			background: $red;
		}
		.green{
			background: $green;
		}
	}
	.switcher-icon{
		position: absolute;
    top: 0;
    left: -42px;
		background: rgba(0, 0, 0, 0.75);
    padding: 5px;
    width: 42px;
    height: 42px;
    text-align: center;
		font-size: 22px;
		cursor: pointer;
		&:hover{
			background: $green;
		}
	}
	.Language-switcher{
		img {
			width: 58px;
			height: 34px;
			padding: 4px;
		}
	}
}


.logo{
	text-align: center;
	img{
		width: 150px;
	}
}
.slider{
	height: 550px;
}

$nav_w: 90px;
$nav_qty: 11;
$logo_w: 150px;


.page-header{
	background: url('../images/bg-2.jpg') center top no-repeat fixed;
	background-size: cover;
		h2.page-title {
			display: block;
			padding: 200px 0 50px 0;
			text-align: center;
			margin: 0;
			color: $light;
	}
}

.page-body{
	text-align: center;
	color: $gray-c;
	padding: 100px 0;
	img{
		margin-bottom: 15px;
		border-radius: 10px 0;
	}
}
.hq{
	text-align: center;
	img{
		width: 150px;
		display: block;
		margin: 5px auto;
	}
	h4{
		font-size: 22px;
	}
}
.wing{
	padding: 0;
	margin: 0;
	li{
		list-style: none;
		padding: 0;
		margin: 0;
		a{
			display: block;
			padding: 10px;
			text-align: center;
			background: $green;
			color: $light;
			margin-bottom: 15px;
			&:hover{
				color: $green;
				background: $gray-3;
				text-decoration: none;
			}
		}
	}
}
.title-img{
	width: 70px;
}
.reaward{
	li{
		list-style: none;
	}
	.box{
		height: 145px;
		margin-bottom: 15px;
		padding: 15px;
		border-radius: 15px 0;
		img{
			float: left;
			width: 120px;
			margin-right: 15px;
		}
		.medel{
			float: right;
			width: 50px;
			margin-top: -133px;
		}
		h5{
			padding-top: 5px;
		}
		text-align: left;
		background: $gray-3;
	}
}
.page-body{
	.achievement{
		background: transparent;
		margin: 0px;
		padding: 0px;
		.nav-link{
			background: $green !important;
			&:hover{
				background: $gray-3 !important;
			}
		}
	}
}
.table-notice{
	tr{
		color: $gray-c;
		text-align: left;
	}
}
.news{
	.news-item{
		background: $dark-2;
		padding: 15px;
		margin-bottom: 15px;
		text-align: left;
		a{
			color:$gray-c;
			&:hover{
				color: $light;
			}
		}
		img{
			width: 100%;
			margin: 0;
			padding: 0;
			border-radius: 0px;
		}
	}
}
header{

	nav{
		width: calc(( #{$nav_w} * #{$nav_qty} ) + #{$logo_w} - #{$nav_w});
		margin: 0 auto;
		ul{
			// &::before{
			// 	content: "asdf";
			// }
			// &::after{
			// 	content: "asdf";
			// }
			margin: 0;
			padding: 0;
			li.logo {
				width: $logo_w;
				a{
					padding: 0 !important;
					margin: 0 !important;
					background: transparent;
				}
			}
			li{
				&:first-child{
					a{
						border-radius: 0px 0 0 40px;
						border-left: 5px solid $green;
					}
				}
				&:last-child{
					a{
						border-radius: 0 0 40px 0;
						border-right: 5px solid $green;
					}
				}
				&:nth-child(5){
					a{
						border-radius: 0 40px 0 0;
						border-right: 5px solid $green;
					}
				}
				&:nth-child(7){
					a{
						border-radius: 40px 0 0 0;
						border-left: 5px solid $green;
					}
				}
				
				margin: 0;
				padding: 0;
				list-style: none;
				float: left;
				width: $nav_w;
				a{
					padding: 15px 5px;
					text-align: center;
					display: block;
					background: $black;
					margin-top: 50px;
					font-size: 16px;
					color: $gray-c;
					&:hover{
						text-decoration: none;
						color: $light;
					}
				}
			}
		}
	}
}
.container-top{
	background: rgba(0, 0, 0, 0.75);
	height: 150px;
	padding: 15px;
	color: $gray-c;
	p{
		margin: 0px;
		padding-bottom: 5px;
	}
	img {
		float: left;
		margin-top: -60px;
		background: $black;
		padding: 15px;
		width: 185px;
		margin-right: 25px;
		margin-bottom: 25px;
	}
}
.gallery-sec{
	img{
		width: 100%;
	}
}
.main-body{
	background: $black;
// 	-webkit-clip-path: polygon(80% 0, 100% 20%, 100% 100%, 0 100%, 0 20%, 20% 0);
// clip-path: polygon(80% 0, 100% 20%, 100% 100%, 0 100%, 0 20%, 20% 0);
// 	min-height: 250px;
}
.about-us{
	padding-top: 50px;
	padding-bottom: 100px;
	text-align: justify;
	img{
		width: 200px;
		shape-outside:  circle(50% at 50% 50%);
		-webkit-clip-path: circle(50% at 50% 50%);
		clip-path: circle(50% at 50% 50%);
		float: left;
		padding: 10px;
	}
	h2{
		color: $gray-c;
	}
	p{
		color: $gray-c;
	}
}
.work{
	background:url('../images/sec-bg.jpg') no-repeat fixed bottom center;
	padding: 100px 0;
	color: $light-d;
}
.info{
	padding: 100px 0;
	color: $light-d;
	background:url('../images/sec-bg2.jpg') no-repeat fixed bottom center;

}

.battalion{
	padding: 100px 0;
	color: $light-d;
	background: $black;
	ul{
		margin: 0px;
		padding: 0px;
		li{
			margin: 0px;
			padding: 0px;
			list-style: none;
			float: left;
			a{
				margin: 10px;
				display: block;
				padding: 25px;
				background: $gray-3;
				color: $gray-c;
				width: 202px;
				text-align: center;
				border-left: 5px solid $green;
				transition: all .5s ease;
				&:hover{
					background: $dark;
					text-decoration: none;
					color: $light;
					border-left: 15px solid $yollow;
				}
			}
		}
	}
	img{
		width: 100%;
	}
}

footer{
	background: $dark-2;
	color: $light-e;
	padding: 100px 0;
	h2{
		font-size: 26px;
	}
	p{
		margin: 0px;
		padding: 5px 0;
	}
	a{
		font-size: 14px;
	}
	.f-news{
		a{
			color: $gray-c;
			border-bottom: 1px solid $gray-6;
			padding-bottom: 10px;
			margin-bottom: 10px;
			display: block;
			font-size: 14px;
			&:last-child{
				border-bottom: 0px solid $gray-6;
			}
		}
		
	}
	ul{
		margin: 0px;
		padding: 0px;
		li{
			margin: 0px;
			padding: 0px;
			list-style: none;
			width: 50%;
			float: left;
			a{
				color: $gray-c;
				margin-bottom: 10px ;
			}
		}
	}
}
.footer-bottom{
	background: $black;
	color: $gray-c;
	padding: 10px 0;
	text-align: right;
	p{
		margin: 0px;
		font-size: 13px;
		padding: 0px;
		a{
			color: $light;
			&:hover{
				text-decoration: none;
			}
		}
	}
}
.award{
	padding: 100px 0;
	color: $light-e;
	background: $black;
	text-align: center;
	img{
		border-radius: 10px 0px;
		margin-bottom: 10px;
	}
	h5{
		font-size: 15px;
		margin: 0px;
		padding: 5px 0;
	}
	p{
		margin: 0px;
		padding: 0px;
		font-size: 13px;
	}
}
.achievement{
	padding: 100px 0;
	color: $light-e;
	background: url("../images/bg-2.jpg") center fixed no-repeat;
	background-size: cover;
	text-align: center;
	.nav-tabs{
		.nav-link {
			width: 92px;
			height: 92px;
			padding: 28px 0;
			font-size: 22px;
			border-radius: 50px;
			background: rgba(0, 0, 0, 0.5);
			color: $light;
			&:hover{
				background: $dark;
				color: $light;
			}
		}
	}
	.nav-tabs{
		border: 0 !important;
	}
	.achievement-item{
		margin: 15px 0;
		text-align: left;
		padding: 15px;    
		background: rgba(0, 0, 0, 0.5);
		border-radius: 15px 0;
		img{
			width: 100%;
			border-radius: 10px 0;
		}
		p{
			margin: 0px;
			padding: 0px;
		}
	}
	.tab-content{
		max-height: 400px;
		overflow: auto;
		&::-webkit-scrollbar {
			width: 5px;
		}
		&::-webkit-scrollbar-track {
			background: $black;
			-webkit-box-shadow: inset 0 0 6px $black;
		}
		&::-webkit-scrollbar-thumb {
		  background-color: $dark;
		  outline: 1px solid $gray-3;
		  border-radius: 3px;
		}
	}
}
.awareness{
	padding: 100px 0;
	color: $light-d;
	background: $black;
	img{
		width: 100%;
	}
}
.report{
	padding: 100px 0;
	color: $light-d;
	background: url("../images/mobile-apps-background.jpg") center fixed no-repeat;
	background-size: cover;
	.apps{
		text-align: center;
		img{
			width: 250px;
		}
	}
	textarea, input{
		background: transparent;
	}

}
.contact{
	.report{
		background: $black !important
	}
}
.msg{
	img{
		width: 100%;
		border-radius: 4px;
		border: 1px solid $green;
		padding: 10px !important;
	}
	.nav-link {
		color: $light;
		margin-bottom: 10px;
		border: 1px solid $green;
		&:hover{
			background: $green;
		}
	}
}
.logo-slider{
	padding-top: 75px;
	padding-bottom: 50px;
	color: #ddd;
	background: #151515;
	.logo-item{
		background: $light;
		border: 3px solid $light;
		border-radius: 5px 0;
		width: 120px;
		height: 120px;
		text-align: center;
		margin: 0 auto;
		img{
			height: 115px;
		}
	}
}
.news-update{
	color: $gray-c;
	.title {
		background: $gray-3;
		width: 130px;
		height: 26px;
		padding: 2px 15px;
		display: block;
		text-align: center;
	}
	a{
		color: $gray-c;
		padding-top: 10px;
		display: inline-block;
		&:hover{
			color: $light;
			text-decoration: none;
		}
	}
}
.office-pic{
	img{
		width: 100%;
	}
}
.rab-office-nav{
	ul{
		margin: 0px;
		padding: 0px;
		li{
			margin: 0px;
			padding: 0px;
			list-style: none;
			a{
				display: block;
				text-align: left;
				color: $gray-c;
				padding: 10px 15px;
				background: $gray-3;
				border-left: 3px solid $green;
				border-radius: 25px 0;
				margin-bottom: 15px;
				transition: all .5s ease;
				&:hover{
					color: $light;
					background: $green;
					border-left:0px solid $green;
					border-right: 3px solid $yollow;
					text-decoration: none;
					transition: all .5s ease;
				}
			}
		}
	}
}
.office-cover-area{
	ul{
		margin: 0px;
		padding: 0px;
		li{
			margin: 5px;
			padding: 5px 10px;
			list-style: none;
			float: left;
			background: $gray-3;
			width: 265px;
		}
	}
}
.office-sec{
	margin-bottom: 50px;
	display: block;
	text-align: left !important;
	p{
		text-align: justify;
	}
}
.office-cover-area{
	height: auto;
}
.clear-both{
	clear: both;
	display: block;
}
.title-hr{
	height: 3px;
	width: 150px;
	background: $green;
	border-right: 50px solid $yollow;
	border-left: 50px solid $red;
	clear: both;
	display: block;
	margin-bottom: 15px;
}